html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem;
}

#map {
  margin: auto;
  height: 20rem;
  width: 90%;
  border: 2px solid gray;
}

#formContainer {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.formInput {
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  margin: 0.5rem 1rem;
}
